/* meyer reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* meyer rest */

:root {
    --padding-p: 0 2.5em 3em;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: vikingFont;
    src: url(./resources/fonts/Norse-Bold.otf);
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
    /* width: 30vw; */
}

.left-section {
    background-color: bisque;
    background-image: url('./resources/img/code7.jpg');
    /* background-repeat: no-repeat; */
    /* width: 35vw; */
    background-size: 45vw 100vh;
    background-repeat: no-repeat;
}

.logo {
    padding-top: 200px;
}

.div-bg {
    background: rgb(0, 0, 0, .6);
    width: 45vw;

}

/* logo contents */
.div-bg>p {
    color: white;
    font-family: vikingFont;
    font-size: 7rem;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 20px;
}

.div-bg>p::before {
    content: "";
    background-image: url('./resources/img/odin-lined.png');
    background-size: 70px 100px;
    /* display: block; */
    height: 100px;
    width: 70px;
}

.right-section {
    background-color: hsl(1, 1%, 96%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}

.right-section>.upper {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: var(--padding-p);
    width: 30em;
    text-overflow: ellipsis;
    gap: 1em;

}



form>.fill-up {
    background-color: white;
    padding: 3em 3.5em 1em 3.5em;
    box-shadow: 1px 2px 5px rgb(0, 0, 0, .2);
    /* display: flex; */
}

.fill-up>p {
    font-size: 1.5rem;
    margin-bottom: 1.5em;
}

.fill-container {
    display: flex;
}

label {
    width: 100%;
    display: inline-block;
    font-size: .9rem;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

.left-fill-up,
.right-fill-up {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, .2);
    width: 200px;
    height: 2.5em;
    margin-bottom: 2em;

}

input:focus {
    border: 1px solid rgb(0, 150, 200);
    box-shadow: 2px 2px 5px rgb(0, 0, 0, .2);
}


.outside-mid>button {
    appearance: none;
    padding: .7em 3em;
    margin: 3em 0em 3em 0em;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid;
    background: #353535;
    color: white;
    font-weight: bold;
}

.outside-mid {
    margin-left: .9em;
    padding: var(--padding-p);
}

.outside-mid>button:hover {
    cursor: pointer;
}

.outside-mid>button:focus {
    background-color: #5e5e5e;
}

a,
a:visited {
    color: #353535;
    text-decoration: none;
}